<!doctype html>
<html>
<head>
	<title> {{ title }} </title>
	{{#each style}}
		<link rel="stylesheet" type="text/css" href="{{@this}}">
	{{/each}}
</head>
<body>
	{{{ body }}}
	{{#each script}}
		<script src="{{@this}}"></script>
	{{/each}}
</body>
</html>
